@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.header {
  margin-left: 3rem;
  display: flex;
  align-items: center;
  font-family: inherit;
}

.container {
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  border-radius: 21px;
  font-family: inherit;
}
